@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  /* =========================================
     TEMA CLARO (Light Mode)
     ========================================= */
  --primary-color: #10B981;
  --primary-hover: #059669;
  --primary-light: #D1FAE5;
  --secondary-color: #0886a5;

  --bg-primary: #f7f7f7;
  --bg-secondary: #EFEFEF;
  --bg-surface: #FFFFFF;

  --text-primary: #0F172A;
  --text-secondary: #37465a;
  --text-muted: #6d7885;

  --bg-input: #FAFAFA;
  --border-input: #E2E8F0;

  --success-color: #10B981;
  --danger-color: #EF4444;
  --border-color: #E2E8F0;

  --radius-sm: 0.375rem;
  --radius-md: 0.625rem;
  --radius-lg: 1rem;
  --radius-full: 9999px;
}

.dark {
  --bg-primary: #111214;
  --bg-secondary: #181a1f;
  --bg-surface: #181d24;


  --text-primary: #F8FAFC;
  --text-secondary: #94A3B8;
  --text-muted: #64748B;

  --bg-input: #2a2e31;
  --border-input: #3f3f3f;

  --border-color: #1E293B;

}

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.skeleton {
  background-color: #e0e0e0;
  background-image: linear-gradient(
    90deg,
    #e0e0e0 0%,
    #f5f5f5 50%,
    #e0e0e0 100%
  );
  
  background-size: 200% 100%;
  animation: shimmer 2.5s infinite linear;
}
.dark .skeleton {
  background-color: #1e2127;
  background-image: linear-gradient(
    90deg,
    #1e2127 0%,
    #33343a 50%,
    #1e2127 100%
  );
  
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.theme-emerald {
  --primary-color: #10B981;
  --primary-hover: #059669;
  --primary-light: #D1FAE5;
  --secondary-color: #0886a5;
}

.theme-indigo {
  --primary-color: #6366F1;
  --primary-hover: #4F46E5;
  --primary-light: #E0E7FF;
  --secondary-color: #4338CA;
}

.theme-purple {
  --primary-color: #8b5cf6;
  --primary-hover: #7d2adb;
  --primary-light: #FFE4E6;
  --secondary-color: #471de1;
}

.theme-amber {
  --primary-color: #F59E0B;
  --primary-hover: #D97706;
  --primary-light: #FEF3C7;
  --secondary-color: #f5610b;
}

.theme-sky {
  --primary-color: #0EA5E9;
  --primary-hover: #0284C7;
  --primary-light: #E0F2FE;
  --secondary-color: #0369A1;
}

.theme-pink {
  --primary-color: #ec4899;
  --primary-hover: #b9256f;
  --primary-light: #E0F2FE;
  --secondary-color: #8b0184;
}