@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root {
  --primary-color: #6b21a8;
  --primary-hover: #4f1494;
  --secondary-background: #F6F4FF;
  --radius: 0.625rem;
}

body {
  font-family: var(--font-poppins), sans-serif;
}